.dropdown {
	position: relative;
}
.btn {
	padding: 16px 20px;
	background:  #5E9F53;
	border: 1px solid var(--white);
	border-radius: 16px;
	width: 100%;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.list {
	position: absolute;
	top: 75%;
	width: 100%;
	padding: 12px 20px 8px;
	margin: 0;
	list-style: none;
	background:  #5E9F53;
	border: 1px solid var(--white);
	border-top: 0;
	border-radius: 0 0 16px 16px;
	z-index: 2;
	display: none;
}

.list li {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0; 
	cursor: pointer;
	border-top: 1px solid var(--dark-gray);
}
.btn svg path {
	fill: var(--dark)
}
.list li:hover {
	color: var(--primary)
}
.open {
	display: block;
}