.body {
	margin-top: 35px;
}
.table {
	padding: 20px;
	background: var(--white);
	border: 1px solid var(--gray);
	border-radius: 8px;
	margin: 0;
	list-style: none;
	margin-top: 15px;
}
.table > *:not(:last-child) {
	margin-bottom: 10px;
}

.table li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.table li span {
	font-size: 10px;
	line-height: 16px;
	display: flex;
	align-items: center
}
.table li span:first-child {
	font-weight: 600;
}

.button {
	padding: 0;
	margin-left: 5px;
	cursor: pointer;
	border: none;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1px;
	transition: all ease .4s;
}

.button:hover {
	transform: rotate(90deg);
}
