.section {
    position: relative;
    background: url('../../static/assets/bg-wallet-first.svg')center bottom -128px / 376px 856px no-repeat;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
