.btn {
	background: var(--dark-text);
	border: 1px solid var(--dark-border);
	border-radius: 16px;
	width: 100%;
	padding: 14px 20px;
	box-shadow: 0px 3px 5px rgb(79 51 163 / 5%);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--dark);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all ease .2s;
    position: relative;
    z-index: 2;
    transition: all ease .2s;
}
.btn:hover {
    transform: scale(1.02);
}
.btn svg {
	margin-right: 10px;
}

.collapse {
    background: var(--dark-text);
    color: var(--dark);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -14px;
    position: relative;
    z-index: 1;
    border: 1px solid var(--dark-border)
}

.active {
    box-shadow: 0px 0px 15px rgb(79 51 163 / 10%);
    background: var(--dark-text);
    border: 1px solid var(--dark-border)
}
.collapse_body {
    color: var(--white);
    border-bottom: 1px solid var(--dark-border);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all ease .3s;
	font-size: 10px;
	line-height: 16px;
}

.open_body {
    overflow: visible;
    opacity: 1;
    padding: 25px 20px 10px;
}
.open_body p {
    margin: 0;
}
.collapse_link {
    color: var(--dark);
    border: none;
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 25px 20px 10px;
    border-radius: 0px 0px 8px 8px;
    border-top: none;
    width: 100%;
    justify-content: center;
	transition: all ease .2s;
	font-size: 10px;
	line-height: 16px;
	cursor: pointer;
    transition: all ease .2s;
}
.collapse_link:hover {
    transform: scale(1.02);
}

.chooseBtn {
	border: 1px solid var(--success);
    color: var(--success);  
	box-shadow: 0px 3px 5px rgba(79, 51, 163, 0.05);
}

.chooseBtn svg {
    fill: var(--success)
}

.collapse_link svg {
	margin-left: 10px;
	transition: all ease .3s;
    fill: var(--dark);
}


.active_link {
    padding-top: 10px;
}
.active_link svg {
	transform: scale(-1);
}
