.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 16px;
    border: 1px solid;
    font-weight: 600;
    transition: all ease .2s;
    font-family: 'Comfortaa', cursive;
}
.btn svg {
    transition: all ease .2s;
}
.white {
	color: var(--green-bg);
	background: var(--dark);
    transition: all ease .2s;
}
.transparent {
	background: transparent;
	color: var(--dark);
}

.white:hover {
    background: var(--primary);
	color: var(--dark);
}
.white:hover svg {
    fill: var(--dark);
}
.primary {
    background: rgba(255, 255, 255, 0.1);
    color: var(--white);
    transition: all ease .2s;
    border-color: var(--white);
}
.primary svg {
    fill: var(--white)
}
.primary:hover svg {
    fill: var(--dark)
}
.primary:hover {
    background: #4b923f;
    border-color: var(--white);
    color: var(--white)

}
.primary_green {
    background: transparent;
    color: var(--white);
    transition: all ease .2s;
    border-color: var(--white);
}
.primary_green svg {
    fill: var(--white)
}
.primary_green:hover svg {
    fill: var(--dark)
}
.primary_green:hover {
    background: #4b923f;
    border-color: var(--white);
    color: var(--white)

}
.arrow {
    margin-left: 10px;
}


.svg_right svg {
    margin-left: 10px;
}
.svg_left svg {
    margin-right: 10px;
}
.border_primary {
    border-color: var(--white);
    color: var(--white);
    background: transparent;
    transition: all ease .2s;
}
.border_primary:hover {
    color: var(--white)
    
}
.border_primary svg {
    transition: all ease .2s;
    fill: var(--white);
}
.border_primary:hover svg {
    fill: var(--white)
}
.border_error svg {
    fill: var(--error)
}
.border_error {
    border-color: var(--error);
    color: var(--error);
    background: transparent;
}

.border_error:hover {
    background: var(--error-light);
    color: var(--dark);
    border-color: var(--error-light);
}
.border_error:hover svg{
    fill: var(--dark);
}
.mt_0 {
    margin-top: 0;
}
.mb {
    margin-bottom: 10px;
}

.mt {
    margin-top: 10px;
}
.text_left {
    justify-content: flex-start;
}

.border_gray {
    background: #2F4925;
    border: 1px solid var(--white);
    border-radius: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    color: var(--dark);
}
.text_between {
    justify-content: space-between;
}

.green {
    background: #7CFB5C;
    border: none;
    font-weight: 400;
}

.border_green {
    background: #7CFB5C;
    border: 1px solid #1F2226;
}