.body {
	position: relative;
	padding: 16px 0;
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.body::before {
	border-top: 1px solid var(--white);
	border-bottom: 1px solid var(--white);
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%)  scale(0.99);
	width: 120%;
	height: 100%;
	background: #5E9F53;
	z-index: -1;
}

.title {
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	margin-bottom: 6px;
	margin-top: 0;
}
.par {
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	color: var(--white);
	width: 212px;
	margin-bottom: 0;
}