.account_card {
	background: var(--white);
	border: 1px solid var(--gray);
	box-shadow: 0px 3px 5px rgba(79, 51, 163, 0.05);
	border-radius: 8px;
	padding: 20px;
	width: 100%;
}

.top {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.top button {
	margin-left: auto;
}
.top h2 {
	margin: 0;
}
.top svg {
	margin-right: 10px;
}
