.account_card {
	background: var(--dark-text);
	border-radius: 16px;
	padding: 20px;
	width: 100%;
	margin-bottom: 30px;
	box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.15);
}

.top {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.top button {
	margin-left: auto;
}
.top h2 {
	margin: 0;
}
.top svg {
	margin-right: 10px;
}
