.account_card {
	background: #5E9F53;
	border: 1px solid var(--white);
	border-radius: 16px;
	padding: 20px;
	width: 100%;
	margin-bottom: 30px;
}

.top {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.top button {
	margin-left: auto;
}
.top h2 {
	margin: 0;
}
.top svg {
	margin-right: 10px;
}
