.md {
   font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

.sm {
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
}

.error {
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	color: var(--error)
}

.black {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #000;
	margin-bottom: 30px;
}
.dark_gray {
	color: var(--dark-gray);
}