.settings_list {
	background: #5E9F53;
	border-radius: 16px;
	padding: 0 20px;
	margin: 0;
	list-style: none;
}
.settings_list > *:not(:last-child) {
	border-bottom: 1px solid var(--white);
}
.settings_list li {
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: all ease .2s;
}
.settings_list li:hover {
	transform: scale(1.02);
}
.settings_list li span {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: center
}
.settings_list li svg {
	fill: var(--dark);
	width: 5px;
}
.settings_list li span svg {
	margin-left: 10px;
	height: 14px;
	margin-top: -2px;
}

.settings_list li span:last-of-type {
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	color:  var(--white);
}