.alert {
    border: 1px solid var(--dark-border);
    border-radius: 16px;
    padding: 20px;
    background: var(--dark-text);
}

.danger {
    border-width: 1px;
    border-color: var(--error);
    color: var(--error);
}

.icon {
    margin-right: 10px;
}