.alert {
    border: 1px solid var(--gray);
    border-radius: 16px;
    padding: 20px;
    background: #5E9F53;
}

.danger {
    border-width: 1px;
    border-color: var(--error);
    color: var(--error);
}

.icon {
    margin-right: 10px;
}