.reg {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	color: var(--dark);
}

.body{ 
	background: url('../../static/assets/images/bg.png') center center / cover no-repeat;
}
.reg p {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--dark);
	width: 100%;
}

.reg a {
	text-decoration-line: underline;
	color: var(--dark)
}
.reg a:first-of-type {
	margin-right: 5px;
} 
.reg a:last-of-type {
	margin-left: 5px;
} 

.top img {
	height: 360px;
}

.top {
	display: flex;
	justify-content: center;
	align-items: center
}

.bottom {
	margin-top: -65px;
}

.walletLogo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 115px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inputBg {
	background: #2F4925;
}