.btn {
	padding: 11px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--yellow);
	background: transparent;
	border-radius: 12px;
	width: 31.5%;
	cursor: pointer;
	transition: all ease .2s;
	color: var(--yellow);
}
.btn:hover {
	color: #1F2226;
	background: var(--yellow);
}
.btn:hover svg {
	fill: #1F2226
}
.btn svg {
	margin-right: 10px;
	transition: all ease .2s;
	fill: var(--yellow);
}