

.validate {
	list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}
.validate > *:not(:last-child) {
    margin-right: 10px;
}
.validate li {
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.validate li svg {
    margin-right: 5px;
    display: inline-block;
}