.a {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration-line: underline;
	color: #4D69FF;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}